:root {
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
  --secondary-dark: #a28268;
}
/* Base */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--primary-light);
  margin: 0;
  color: var(--primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.section {
  padding: 48px 0;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
  margin: 0 auto;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
.button:active {
  background-color: hotpink;
}

/* Link */
.link {
  color: var(--primary-light);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand-normal);
}

/* Header */
.header {
  background-color: lightgray;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */
.hero-section {
  padding: 272px 0;
  margin-bottom: 0;
  background-image: url('./images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: var(--primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advantages section */
.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--primary-light);
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */
.traditions-section {
  padding-top: 96px;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}
.traditions-title {
  margin-bottom: 42px;
}
.traditions-text-p1 span {
  color: var(--color-brand-normal);
  text-transform: uppercase;
  font-weight: 600;
}
.traditions-text-p2 {
  max-width: 330px;
}
.traditions-text-p2 span {
  color: var(--color-brand-normal);
}

/* Chefs section */
.chefs-title {
  max-width: 540px;
  margin: 0 auto 80px;
}
.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}
.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--primary-light),
    -16px 16px 0 2px var(--secondary-dark);
}
.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

/* Formats section */
.formats-list {
  display: flex;
  gap: 20px;
}
.format-card {
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--primary-dark) 100%
  );
  border: 1px solid lightgrey; /* remove */
  border-radius: 16px;
}
.formats-title {
  margin-bottom: 80px;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--primary-dark);
  cursor: pointer;
}
.carousel-arrow {
  fill: var(--primary-dark);
}
.carousel-button:hover {
  background-color: var(--primary-dark);
}
.carousel-button:hover .carousel-arrow {
  fill: var(--primary-light);
}

/* Contact section */
.contact-title {
  margin-bottom: 16px;
}

/* Footer */
.footer {
  background-image: url('./images/footer-background.png');
  background-color: var(--primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.address-link {
  color: var(--primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand-normal);
}
.address-icon {
  fill: var(--primary-light);
}
.address-icon:hover {
  fill: var(--color-brand-normal);
}
.address-copyright {
  font-size: 14px;
}
